<div
  class="h-full w-16 border-r border-editor-line bg-editor-bg bg-opacity-50 flex flex-col"
>
  <a
    routerLink="/about"
    routerLinkActive="bg-editor-line"
    class="p-4 text-center hover:bg-editor-line cursor-pointer transition-colors"
  >
    <div class="text-xl">👤</div>
    <div class="text-xs mt-1">Sobre</div>
  </a>
  <a
    routerLink="/projects"
    routerLinkActive="bg-editor-line"
    class="p-4 text-center hover:bg-editor-line cursor-pointer transition-colors"
  >
    <div class="text-xl">📂</div>
    <div class="text-xs mt-1">Projetos</div>
  </a>
  <a
    routerLink="/skills"
    routerLinkActive="bg-editor-line"
    class="p-4 text-center hover:bg-editor-line cursor-pointer transition-colors"
  >
    <div class="text-xl">🛠️</div>
    <div class="text-xs mt-1">Skills</div>
  </a>
</div>
