<div class="min-h-screen bg-terminal-bg text-terminal-text flex flex-col">
  <header
    class="border-b border-editor-line p-2 flex items-center justify-between"
  >
    <div class="flex space-x-1">
      <div class="w-3 h-3 rounded-full bg-terminal-error"></div>
      <div class="w-3 h-3 rounded-full bg-terminal-output"></div>
      <div class="w-3 h-3 rounded-full bg-terminal-prompt"></div>
    </div>
    <div class="flex">
      <button
        (click)="activeView.set('terminal')"
        class="ide-tab"
        [class.active]="activeView() === 'terminal'"
      >
        >_ Terminal
      </button>
      <button
        (click)="activeView.set('editor')"
        class="ide-tab"
        [class.active]="activeView() === 'editor'"
      >
        Editor
      </button>
    </div>
    <div class="text-xs opacity-50">user&#64;portfolio ~</div>
  </header>

  <main class="flex-1 overflow-hidden">
    <app-terminal *ngIf="activeView() === 'terminal'"></app-terminal>
    <app-ide *ngIf="activeView() === 'editor'"></app-ide>
  </main>

  <app-interface></app-interface>
</div>
